body {
   
    margin: 0;

}
.header {
    height: 50px;
    margin: 0px;
    border-color: white;
    font-family: Oi;
    font-size: 40px;
    text-align: center;
    color: rgb(189, 71, 35);
    position: sticky;
}
div {
    border-bottom: 1px solid rgb(189, 71, 35);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container {
    font-family: Abril Fatface;
    
}

img {
    border-bottom: 10px;
}
.meal {


}
